<h1><%= @plan.object %></h1><br>
<p><strong>Subject:  </strong><%= @plan.subject %></p>
<p><strong>Strategy:  </strong><%= @plan.strategy %></p>
<p><strong>Assessment:  </strong><%= @plan.assessment %></p>
<p><strong>link:  </strong><%= @plan.cclink %></p>
<br>
<br>
<p><%= link_to "Edit Lesson Plan", edit_plan_path(@plan) %>  |  
<%= link_to "Destroy", plan_path(@plan), method: :delete, data: {confirm: "Delete Plan?"} %>  |  
<%= link_to "Lessons", plans_path(@current_user) %></p>

<div class="images">
<%= image_tag (@plan.image_url) %>

</div>