<!DOCTYPE html>
<html5>
<head>
  <title>QuizShow</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<ul class="nav navbar-nav navbar-left">
				<li><%= link_to "Home", root_path %></li>
				<li><%= link_to "About", root_path %></li>
			</ul>
			<div class="navbar-header"><div id="logo" class="navbar-brand navbar-center"></div></div>
			<ul class="nav navbar-nav navbar-right">
				<li><%= link_to "Sign In", root_path %></li>
				<li><%= link_to "Sign Out", root_path %></li>
			</ul>
			</div>
		
	</nav>
	<div class="jumbotron">
		<div id="play_now"><strong>Play Now</strong></div>
	</div>

<!-- alerts will go in here -->
<%= yield %>

</body>
</html>
