<!DOCTYPE html>
<html5>
<head>
  <title>QuizShow</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>

  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<ul class="nav navbar-nav navbar-left">
				<li><%= link_to "Home", root_path %></li>
				<li><%= link_to "About", root_path %></li>
				<li><%= link_to "Lessons", plans_path %></li>
				<li><% if current_user %><%= link_to "Quiz", user_path(current_user.id)%></li>
				<% end%>

				<li><%= link_to "Why Us?", root_path %></li>
					
				<li><%= link_to "Your Plans", plans_path %></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><%= link_to "Sign Up", new_user_path %></li>
				<li><%= link_to "Sign Out", logout_path %></li>
				<li><%= link_to "Log In", login_path %></li>


			</ul>


		</div>		
	</nav>
	
	<div class="jumbotron">
	</div>
<!-- alerts will go in here -->
<%= yield %>

</body>
</html>